/* Body and Container Style */
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(146,146,255);
    color: rgb(0, 0, 0);
    font-family: 'Poppins', 'sans-serif';
}


body::-webkit-scrollbar{
    display: none;
}

#viewBox {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E8F9FF;
    height: 100%;
   
}


/* Navigation Bar Style */
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70px;
    background-color:#fbfbfb;  
    box-shadow: 0px 10px 200px rgb(103, 103, 103);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;   
}
nav ul li{
    margin: 3px 16px;
    font-size: 1.1rem;
}


#right1 a{
    text-decoration: none;
    color: rgb(98, 0, 225);
}

#right1 a:hover{
    font-weight: 600;
}

.left{
    font-size: 1.8rem;
    transition: font-size .5s;
}
.left:hover{
    font-weight: 600;
    font-size: 2rem;
}


/* The Main Intro section */
/* First Section */
.first div{
    width: 35%;
}
.first{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px;
    margin:10px 0px; 
    
}

.leftSection{
  
    font-size: 2.4rem;
    align-items: center;
    text-align: center;  
}


.rightSection img{
    object-fit: cover;
    width:86%;
    display: block;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0px 1px 10px  grey;
   
   
}

/* Content of the site */

#container{
    width:80%;
    height:100%;
    border: 2px solid white;
    background-color: #C4D9FF;
    margin: auto;
    border-radius: 22px;
    margin-bottom: 10px;
}

#c1 {
    border-bottom: 2px solid rgb(180, 176, 185);
}

#c1 ul li{
    margin-top: 8px;
    margin-bottom: 8px;
    list-style: none;   
}
#c1 ul button{
    font-size: 22px;
    margin: 5px 5px;
    color: rgb(0, 0, 0);
    background-color: #a998fd;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding:10px 20px;
}
#c1 ul button:hover{
    background-color: #6244f9;
}
#c1 ul button:active{
    background-color:  #ae9efe;
}
#c1 ul{
    display:flex;
    justify-content: center;
    margin: -5px 5px;
    padding: 5px;
  
}

.content {
   padding: 20px 50px;
   margin: 10px; 
   text-align: left;
   font-size: 20px;
}
#about h3{
    display: inline;
    font-size: 19px;
    
}
#about{
    word-spacing: 10px;
    line-height: 35px;

}
#skills div{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 20px;
    margin: 5px;
   
}
#projects div{
    word-spacing: 10px;
    line-height: 35px;
}

#about{
    display: none;
   
}

#skills{
    display: none;
}

#projects{
    display: none;
}
#resume{
    display: none;
}




/* Footer of the site. */

footer {
    
    width: 100%;
    border-top: 2px solid rgb(66, 65, 65);
    padding: 13px 0px;
    margin-top: 1px;
    text-align: center;
}


@media only screen and (max-width: 955px) {
    .left{
        font-size: 1rem;
    }
    .leftSection{
        font-size: 1rem;
    }
}